*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:16px ;
}

img{
    width: 100%;
    height: auto;
}
.logo{
    width: 100px;
}
.bg-yellow{
    background: orange;
}
.color-orange{
    color: orange;
}

.color-white{
    color: #ffffff;
}
hr{
    color: #000;
}
header {

    background: orange;
    z-index: 99;
    width: 100%;
    height: auto;
    overflow: hidden;
    // display: block;
    z-index: 999;

    .bar-menu{
        background: #fff;
    }
    .list-menu {
        .list {
            li {
                .item-menu {
                    display: inline-block;
                    position: relative;
                    color: #ffffff;
                }

                .item-menu:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: orange;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                .item-menu:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }


    .menu-bar-movil {

        background-color: orange;

        width: 100%;
        position: fixed;
        z-index: 99999 !important;
        top: 0;
        padding: 0 1.5rem;
        display: none;
        
        justify-content: flex-end;
        align-items: center;
        min-height: 5.875rem;


        .logo-menu-movil {
            width: 6rem;
        }

        .burger-menu {
            cursor: pointer;
            font-size: 2.1875rem;

        }

        .slideMenu {
            position: fixed;
            height: 100%;
            top: 94px;
            left: -80%;
            background: #ffffff;
            text-align: left;
            // padding: 1.25rem 2.25rem;
            width: 80%;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;

            &.active {
                left: 0;
            }

            .top-redes {
                margin-bottom: 0.625rem;

                a {
                    padding: 0 0.5625rem;
                }
            }

            .menu-principal {
                a {
                    display: block;
                    padding: 0.625rem 1rem;

                    // border-top: 1px solid #e1e1e1;
                    &:hover {
                        background: #fff;
                    }
                }
            }
        }
    }


}

main{
    .banner{
        width: 100%;
        height: 500px;
        // background-color:  #d10000;
        background-image: url(../img/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-clip: content-box;
        opacity: .5;
    }

    .cont-valores{
        margin-top: -90px;
    }
}

footer{
    background: #333333;
}
@media (max-width:600px) {

    .text-sm-center {
        text-align: center;
    }

    .icon-sm-center {
        justify-content: center;
    }

    .bg-banner-2 {
        background-size: cover !important;
    }

    .navbar {
        display: none !important;
    }

    .bar-menu {
        display: none !important;
    }

    .menu-bar-movil {
        display: flex !important;
    }
    .bg-silueta{
        height: 600px!important;
    }
}

.text__hover{
    display: none;
    transition: .2s ease-in!important; 
    background: #ffa6007d;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}

.hover__img{
    transition: .2s ease-in!important;
    overflow: hidden!important;
}

.hover__img:hover{
    img{
        transform: scale(1.1);
        transition: .2s ease-in!important;
    }
    .text__hover{
        display: flex!important;
        transition: .2s ease-in!important;
    }
}
